* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    color: #a11414;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 40px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}

body {
    background-color: #240303;
}

main{
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    color: rgb(161, 20, 20);
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}

header ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header a {
    color: #a11414;
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.2s, color 0.2s;
    display: inline-block;
    padding: 5px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header a:hover,
header a.ativo {
    color: #ff3a3a;
    transform: scale(1.1);
    border-bottom: 2px solid #ff3a3a;
}

.secao-fotos {
    text-align: center;
    padding: 40px 20px;
}


.secao-fotos h2 {
    color: #ff3a3a;
    font-size: 3rem;
    margin-bottom: 10px;
}


.descricao {
    max-width: 800px;
    margin: 0 auto 40px;
    font-size: 1.4rem;
    color: #e0e0e0;
}


.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 20px;
}


.foto-item1, .foto-item2, .foto-item3{
    background-color: #1a0000;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    transition: transform 0.3s;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}


.foto-item1:hover, .foto-item2:hover, .foto-item3:hover{
    transform: scale(1.03);
}

.foto-item1 img, .foto-item2 img, .foto-item3 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
}


.foto-item1 p, .foto-item2 p, .foto-item3 p{
    margin-top: 10px;
    color: #e0e0e0;
    font-size: 1.4rem;
}

.integrantes {
    text-align: center;
    padding: 50px 20px;
    margin-top: 40px;
}


.integrantes h2 {
    color: #ff3a3a;
    font-size: 3rem;
    margin-bottom: 10px;
}


.integrantes p {
    max-width: 800px;
    margin: 0 auto 40px;
    font-size: 1.4rem;
    color: #e0e0e0;
}


.integrantes-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
    padding: 20px;
}


.integrante1, .integrante2, .integrante3, .integrante4{
    background-color: #1a0000;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 12px #000;
    transition: transform 0.3s;
}


.integrante1:hover, .integrante2:hover, .integrante3:hover, .integrante4:hover{
    transform: scale(1.05);
}


.integrante1 img, .integrante2 img, .integrante3 img, .integrante4 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}


.integrante1 h3, .integrante2 h3, .integrante3 h3, .integrante4 h3{
    margin-top: 15px;
    color: #ff3a3a;
    font-size: 2.3rem;
}


.integrante1 p, .integrante2 p, .integrante3 p, .integrante4 p{
    margin-top: 35px;
    color: #e0e0e0;
    font-size: 1.4rem;
}

.integrantes h4{
    color: #a71d1d;
    font-size: 2.3rem;
    margin-top: -35px;
}

footer {
    background-color: #000000;
    color: #a11414;
    text-align: center;
    padding: 25px 15px;
    font-size: 1rem;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}