* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    color: #a11414;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 40px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
}
body{
    background-color:#240303;
}

.titulo{
    color: rgb(161, 20, 20);
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}

header ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header a {
    color: #a11414;
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.2s, color 0.2s;
    display: inline-block;
    padding: 5px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header a:hover,
header a.ativo {
    color:  #ff3a3a;
    transform: scale(1.1);
    border-bottom: 2px solid #ff3a3a;
}

.topo {
    text-align: center;
    padding: 50px 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #1a0000;
}

.topo h1 {
    font-size: 3rem;
    color: #ff3a3a;
    margin-bottom: 20px;
    
}

.topo p {
    font-size: 1.4rem;
    max-width: 800px;
    margin: auto;
    color: #e4e4e4;
}

.box {
    background-color: #1a1a1a;
    margin: 40px 4%;
    padding: 25px;
    display: flex;
    gap: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.box img {
    width: 260px;
    height: auto;
    border-radius: 10px;
}

.box h2 {
    color: #ff3a3a;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.box p {
    font-size: 1.4rem;
    margin-bottom: 45px;
    color: #e4e4e4;
}

.box ul {
    margin-left: 20px;
}

.box li {
    font-size: 1.3rem;
    margin-bottom: 12px;
    color: #d1d1d1;
}

.final {
    text-align: center;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
    margin: 40px 20%;
    gap: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px #000;
}

.final h3 {
    color: #ff3a3a;
    font-size: 2.4rem;
}

.final p {
    font-size: 1.35rem;
    max-width: 700px;
    margin: auto;
    color: #d1d1d1;
    font-family: Arial, Helvetica, sans-serif;
}

.tit-fin{
    margin-bottom: 20px;
}

p, main li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    background-color: #000000;
    color: #a11414;
    text-align: center;
    padding: 25px 15px;
    font-size: 1rem;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

